<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/index.js" ></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to dhfifjkd<%= title %></p>
    <input type="button" value="点我" onclick="login()">
    <input  onclick="myAlert()"  type="button"  value="点击我，弹出警告框" />
    <!--<script type="text/javascript">-->
        <!--function myAlert(){-->
            <!--alert("谢谢支持");-->
        <!--}-->
    <!--</script>-->
  </body>
</html>
